<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onToggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Livres</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="isEmpty()" class="empty-list">
    <ion-card-content>
      La liste des livres semble belle et bien vide.<br/>
      Chargez un exemple de livres depuis la page
      "<a [navPush]="settingsPage">Options</a>".
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="!isEmpty()">
    <ion-item icon-start
              *ngFor="let book of books; let i = index"
              [ngClass]="{'is-lent': book.isLent, 'is-not-lent': !book.isLent}"
              (click)="onLoad(i)">
      <ion-icon item-start
                name="book"
                [color]="book.isLent ? 'danger' : 'secondary'"></ion-icon>
      <h2>{{book.name}}</h2>
      <p>{{book.author}}</p>
      <ion-note [ngClass]="{'lent-status': true}">
        {{ book.isLent ? 'emprunté par ' + book.borrower : 'rendu' }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
